@model Assignment2._1.Web.Models.StatsViewModel
@using Assignment2._1.Entities;

@{
    ViewBag.Title = "Statistics";
}
<h2>Stats</h2>

<hr />
<b>Student Count :</b> @Model.StudentsCount

<hr />
<b>Trainers Count :</b> @Model.TrainersCount

<hr />
<b>Courses Count :</b> @Model.CoursesCount

<hr />
<b>Assignments Count :</b> @Model.AssignmentsCount



