
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top ">
        <a class="navbar-brand" href="/Home/Index">George Poulakos School App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <!-- Dropdown Students-->
                <li class="nav-item">
                    <a class="nav-link" href="/Students/StudentsTable">Students</a>
                </li>
                <!-- Dropdown Trainers-->
                <li class="nav-item">
                    <a class="nav-link" href="/Trainers/TrainerTable">Trainers</a>
                </li>
                <!-- Dropdown Courses-->
                <li class="nav-item">
                    <a class="nav-link" href="/Courses/CourseTable">Courses</a>
                </li>
                <!-- Dropdown Assignments-->
                <li class="nav-item">
                    <a class="nav-link" href="/Assignent/AssignmentTable">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Stats/Index">Stats</a>
                </li>
            </ul>
        </div>
    </nav>